<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- Указываем файл приветственной страницы -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>myapp.GroupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/group/</url-pattern>
    </servlet-mapping>
</web-app>
